/env
/annotator/annotator/.env
/annotator/.env
/venv/
annotator/annotator_api/migrations/__pycache__/
annotator/annotator_api/__pycache__/
annotator/annotator/__pycache__/
annotator/annotator_api/static/models/
annotator/annotator_api/static/projects/
annotator/annotator_api/static/trained_models/
